.header {
  padding-top: 45px;
  height: 100vh;
  @include background-img_options(linear-gradient(57deg, #3761c2 0%, rgba(21, 87, 164, 0) 100%, rgba(0, 0, 0, 0) 100%) ,
  url('../images/header/header-bg.png'));
  color: white;

  &__wrapper-nav,
  &__wrapper-top {
    display: flex;
    margin: 0 auto;
    max-width: 1170px;
  }

  &__logo {
    
    @include background-img_options(url('../images/header/header-logo.svg'));
    width: 87px;
    height: 76px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    position: relative;

    & + & {
      margin-left: 15px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      padding-left: 40px;
      left: 28px;
      width: 200px;
      background-color: #3d4e74;
    }

    &-phone-icon::before {
      content: '';
      position: absolute;
      @include background-img_options(url('../images/header/phone-icon.svg'));
      width: 13px;
      height: 13px;
      left: -19px;
      top: 3px;
    }

    &-viber,
    &-telegram,
    &-message {
      display: block;
      width: 15px;
      height: 16px;
      margin-bottom: 6px;
    }

    &-viber {
      @include background-img_options(url('../images/header/viber.svg'));
    }

    &-telegram {
      @include background-img_options(url('../images/header/telegram.svg'));
    }

    &-message {
      @include background-img_options(url('../images/header/mes.svg'));
      margin-bottom: 0;
    }
  }

  &__promo {
    display: flex;
    margin: 56px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
  }

  &__heading {
    text-align: center;
    font-family: "Museo black";
    font-size: 60px;
    font-weight: 900;
  }

  &__sub-head {
    text-transform: uppercase;
    text-align: center;
    font-family: "Museo regular";
    font-size: 22px;
    font-weight: 500;
  }

  &__promo-img {
    display: block;
    margin: auto;
    margin-bottom: 11px;
    width: 70px;
    height: 65px;
  }
}

.nav {
  background-color: #4977e0;
  padding: 28px;

  &__list {
    font-size: 14px;
  }

  &__item {
    display: inline-block;

    & + & {
      margin-left: 15px;
    }
  }

  &__link-pipe {
    margin-left: 15px;
  }
}


