@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin background-img_options($args...) {
  background-image: $args;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
